.container {
    display: flex;
    align-items: center;
    max-width: 1240px;
    height: 100%;
}

.links {
    width: 320px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* padding-right: 60px; */
    height: 320px;
    justify-content: space-between;
}

.p {
    color: #3c3c46;
}

.linkActive {
    color: #f2f2f3;
}