.container {
  max-width: 1240px;
  margin: 0 auto;
  
}

.content{
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
}

.table {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 81.5vh;
}

.table::-webkit-scrollbar {
  width: 12px;
}

.table::-webkit-scrollbar-track {
  background: #2F2F37;
}

.table::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 2px solid #2F2F37;
  border-radius: 6px;
}