.content {
  width: 640px;
  display: flex;
  border-radius: 40px;
  background: #1C1C21;
  position: absolute;
  left: 30%;
  top: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
}