.content {
  width: 640px;
  display: flex;
  border-radius: 40px;
  background: #1C1C21;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  z-index: 999;
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
}