.container {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  overflow-y: scroll;
  width: 900px;
  padding: 0 8px 0 0;
  margin: 0;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  background: #2F2F37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 2px solid #2F2F37;
  border-radius: 6px;
}