.container {
    width: 600px;
    height: 912px;
}

.ingredients {
    width: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 750px;
}

.ingredients::-webkit-scrollbar {
    background-color: #2F2F37;
    max-height: 912px;
    width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585AD;;
    border-radius: 0;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 592px;
    padding: 0;
    margin: auto;
    justify-content: space-between;
}

.li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 272px;
    height: 208px;
    margin: 0;
}

.listBun {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    width: 600px;
    height: 208px;
}

.listSause {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 16px;
    width: 600px;
    height: 472px;
}

.h2 {
    width: 90%;
    height: 30px;
}

.counter {
    position: relative;
    top: 0;
    left: 100px;
}