.container {
  width: 600px;
}

.containerIngredients {
  max-height: 560px;
  overflow-y: scroll;
}

.containerIngredients::-webkit-scrollbar {
  width: 12px;

}

.containerIngredients::-webkit-scrollbar-track {
  background: #2F2F37;
}

.containerIngredients::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 2px solid #2F2F37;
  border-radius: 6px;
}